* {
    margin: 0;
    padding: 0;
}
.header__container {
    width: 100%;
}
.header__nav ul li {
    padding: 0 0.4rem;
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
}
.header__nav ul li:hover {
    border-radius: 2px;
    border-bottom: 2px solid #287cf9;
}
.header__nav ul li a {
    font-size: 1rem;
    color: #333;
    font-weight: 400;
}
.header__login a {
    font-size: 1rem;
    color: #333;
    font-weight: 400;
    padding: 0 1rem;
}
.logout-btn,
.header__signup a {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    user-select: none;
    line-height: 1;
    cursor: pointer;
    transition: background-color 100ms cubic-bezier(0.5, 0, 0.2, 1) 0s,
        color 100ms cubic-bezier(0.5, 0, 0.2, 1) 0s,
        border-color 100ms cubic-bezier(0.5, 0, 0.2, 1) 0s;
    font-size: 14px;
    border-radius: 36px;
    border: 1px solid #287cf9;
    height: 36px;
    text-decoration: none;
    text-align: center;
    padding: 0px 16px;
    font-weight: 400;
    color: #fff;
    background-color: #287cf9;
}
.header__signup a:hover {
    color: #fff;
    background-color: #a92d2d;
    border-color: #a92d2d;
}
.header__left {
    display: flex;
    align-items: center;
}
.header__nav ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
}

a {
    text-decoration: none;
}
ol,
ul {
    list-style: none;
}
.header__right {
    display: flex;
    align-items: center;
}
.header__logo img {
    width: 110px;
}
